---
repos:

  # Basic/common checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Checks for accidentally-committed content
      - id: check-added-large-files
        name: "[check] large files"
      - id: check-merge-conflict
        name: "[check] merge conflicts"
      - id: detect-private-key
        name: "[check] private keys"

      # Checks for filesystem safety
      - id: check-case-conflict
        name: "[check] filename case conflicts"
      - id: check-symlinks
        name: "[check] symlinks"
      - id: destroyed-symlinks
        name: "[check] destroyed symlinks"

      # Checks for Python code
      - id: check-ast
        name: "[check] python ast"
      - id: debug-statements
        name: "[check] python debug statements"
#      - id: name-tests-test
#        name: "[check] unit test filenames"
#        args: [ --pytest-test-first ]

      # Checks for validity of non-code filetypes and references
      - id: check-vcs-permalinks
        name: "[check] vcs site permalinks"
      - id: check-executables-have-shebangs
        name: "[check] executable shebangs"
      - id: check-json
        name: "[check] json"
      - id: check-toml
        name: "[check] toml"
      - id: check-xml
        name: "[check] xml"
      - id: check-yaml
        name: "[check] yaml"

  # Validate pyproject.toml
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        name: "[check] pyproject.toml"

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        name: "[check] docstring coverage"
        pass_filenames: false

  # Fixers for file whitespace and metadata
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: fix-byte-order-marker
        name: "[fix]   utf-8 byte order marker"
      - id: end-of-file-fixer
        name: "[fix]   end-of-file"
      - id: mixed-line-ending
        name: "[fix]   mixed line ending"
        exclude: .gitignore
      - id: trailing-whitespace
        name: "[fix]   trailing whitespace"
        exclude: |
          (?x)(
              ^.gitignore|
              .config/istat_menus.ismp
          )

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        name: "[lint]  yaml"
        args: [-c, .config/.yamllint.yaml]
        exclude: |
          (?x)(
              ^.pre-commit-config.yaml|
              ^.config/.ansible-lint.yaml|
              archived_linux/
          )

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: "[lint]  ruff check --fix"
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        name: "[lint]  mypy"
        args: [--ignore-missing-imports]
        exclude: tests
        additional_dependencies:
          - types-PyYAML

#  - repo: https://github.com/ansible/ansible-lint.git
#    rev: v25.6.1
#    hooks:
#      - id: ansible-lint
#        name: "[lint]  ansible"
#        args: [--fix]

#  - repo: https://github.com/koalaman/shellcheck-precommit
#    rev: v0.11.0
#    hooks:
#      - id: shellcheck
##        args: ["--severity=warning"]  # Optionally only show errors and warnings
