---
version: "3.3"

services:

  # ============================
  # Networking
  # ============================

  # Caddy. Reverse proxy for xxxx.my_domain.com -> sonarr/radarr/prowlarr/transmission/plex
  #  caddy:
  #    image: danielmmetz/caddy-dnsimple
  #    container_name: caddy
  #    restart: unless-stopped
  #    environment:
  #      - ACME_AGREE=true
  #      - DNSIMPLE_OAUTH_TOKEN
  #    ports:
  ##      - 80:80
  #      - 443:443
  #    volumes:
  #      - caddy_data:/data
  #      - ./Caddyfile:/etc/caddy/Caddyfile

  # Caddy. Reverse proxy for xxxx.my_domain.com -> sonarr/radarr/prowlarr/transmission/plex
  caddy:
    container_name: caddy
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"         # HTTP
      - "443:443"       # HTTPS
      - "443:443/udp"   # HTTP/3 (QUIC protocol)
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - media_net

  # PiHole
  # More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    ports:
      - "53:53/tcp"       # DNS
      - "53:53/udp"       # DNS
      - "67:67/udp"       # DHCP
      - "8053:80/tcp"     # HTTP  - Changed to 8053 to avoid conflict with Caddy
      # - "443:443/tcp"   # HTTPS - Handled by Caddy
    environment:
      - TZ='America/Los_Angeles'
      - FTLCONF_dns_listeningMode=ALL
      - FTLCONF_webserver_api_password
    volumes:
      - './etc-pihole:/etc/pihole'  # For persisting Pi-hole's databases and common configuration file
    cap_add:
      - NET_ADMIN                   # Required if you are using Pi-hole as your DHCP server, else not needed
      - SYS_NICE                    # If Pi-hole should get some more processing time
    networks:
      - media_net

  # ============================
  # Media management
  # ============================

  # Plex
  plex:
    image: linuxserver/plex
    container_name: plex
    network_mode: host            # TODO: Temporary for docker/plex weirdness
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
    volumes:
      - /storage/media/config/plex:/config
      - /storage/media/tv:/tv
      - /storage/media/movies:/movies
      - /storage/media/music:/music
    restart: unless-stopped

  # Tool that automatically moves downloaded files from transmission to the right spot to get picked up by Plex
  autoplex:
    image: danielmmetz/autoplex:latest
    container_name: autoplex
    restart: unless-stopped
    volumes:
      - /storage/media/downloads:/downloads
      - /storage/media/tv:/tv
      - /storage/media/movies:/movies
    command: ["--mode", "copy", "--host", "transmission", "--src", "/downloads/complete/tv", "--dest", "/tv", "--src", "/downloads/complete/movies", "--dest", "/movies"]

  # Tool that automatically moves downloaded files from transmission to the right spot to get picked up by Plex
#  pyautoplex:
#    image: connormason/pyautoplex:latest
#    container_name: pyautoplex
#    restart: unless-stopped
#    volumes:
#      - /storage/media/downloads:/downloads
#      - /storage/media/tv:/tv
#      - /storage/media/movies:/movies
#    command: ["--mode", "copy", "--src", "/downloads/complete/movies", "--dest", "/movies", '--src', "/downloads/complete/tv", "--dest", "/tv", "--print-tracebacks"]

  # ============================
  # Media lookup/download
  # ============================

  # Transmission - Torrent client
  # TODO: periodically delete downloads once moved or point at downloads folder directly
  transmission:
    image: linuxserver/transmission
    container_name: transmission
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /storage/media/config/transmission:/config
      - /storage/media/downloads:/downloads
      - /storage/media/watch:/watch
#    ports:
#      - "9091:9091"
    networks:
      - media_net

  # Flaresolverr - Proxy to bypass Cloudflare protection
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr
    container_name: flaresolverr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000

  # Prowlarr - Indexer for radarr/sonarr
  prowlarr:
    image: linuxserver/prowlarr
    container_name: prowlarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /storage/media/config/prowlarr:/config
#    ports:
#      - "9696:9696"
    networks:
      - media_net

  # Radarr - Tool for finding movie downloads
  radarr:
    image: linuxserver/radarr
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /storage/media/config/radarr:/config
      - /storage/media/movies:/movies
      - /storage/media/downloads:/downloads
#    ports:
#      - "7878:7878"
    networks:
      - media_net

  # Sonarr - Tool for finding TV show downloads
  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /storage/media/config/sonarr:/config
      - /storage/media/tv:/tv
      - /storage/media/downloads:/downloads
#    ports:
#      - "8989:8989"
    networks:
      - media_net

  # ============================
  # Home automation & dashboards
  # ============================

  # Home Assistant - Home automation orchestrator/dashboard
  homeassistant:
    container_name: home-assistant
    image: homeassistant/home-assistant
    network_mode: host                    # TODO: does this need to be host?
    restart: always
#    ports:
#      - 80:80
#      - 8123:8123
    environment:
      - TZ='America/Los_Angeles'
    volumes:
      - ./homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
      - ./shared:/shared

  # Glance - Generic dashboard
  glance:
    container_name: glance
    image: glanceapp/glance
    restart: unless-stopped
    env_file: .env
    volumes:
      - ./glance/config:/app/config
      - ./glance/assets:/app/assets
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro    # For Docker containers widget
#    ports:
#      - 8080:8080
    networks:
      - media_net

networks:
  media_net:
    driver: bridge

volumes:
  caddy_config: {}
  caddy_data: {}
