tv.conmason.com {
	tls {
		dns lego_deprecated dnsimple
	}

	reverse_proxy sonarr:8989
}

movies.conmason.com {
	tls {
		dns lego_deprecated dnsimple
	}

	reverse_proxy radarr:7878
}

transmission.conmason.com {
	tls {
		dns lego_deprecated dnsimple
	}

	reverse_proxy transmission:9091
}

prowlarr.conmason.com {
	tls {
		dns lego_deprecated dnsimple
	}

	reverse_proxy prowlarr:9696
}

plex.conmason.com {
	tls {
		dns lego_deprecated dnsimple
	}

	reverse_proxy {{ ip_address }}:32400
}
