home_latitude: {{ home_latitude }}
home_longitude: {{ home_longitude }}

dark_sky_api_key: {{ dark_sky_api_key }}

particle_photon_username: {{ particle_photon_username }}
particle_photon_password: {{ particle_photon_password }}

ecobee_api_key: {{ ecobee_api_key }}

smartthinq_token: {{ smartthinq_token }}
