- name: Copy .gitconfig
  when: inventory_hostname != 'localhost'
  copy:
    src: gitconfig
    dest: "{{ ansible_facts['user_dir'] }}/.gitconfig"
  tags:
    - configfile

- name: Symlink .gitconfig
  when: inventory_hostname == 'localhost'
  file:
    src: "{{ dotfiles_home }}/roles/git/files/gitconfig"
    dest: "{{ ansible_facts['user_dir'] }}/.gitconfig"
    state: link
