---
- name: Install dockutil
  community.general.homebrew_cask:
    name: "{{ dockutil_homebrew_cask }}"
    state: present
  notify:
    - Clear homebrew cache
  tags:
    - dock

- name: Remove all items from Dock
  ansible.builtin.command:
    cmd: "dockutil --remove all"
  tags:
    - dock

- name: Pause for 7 seconds for Dock changes to take effect
  ansible.builtin.pause:
    seconds: 7
  tags:
    - dock

- name: Add Dock icons in persistent-apps section
  ansible.builtin.command:
    cmd: "dockutil --add '{{ item.path }}' --label '{{ item.name }}' --no-restart --section apps"
  with_items: "{{ macos_dock_persistent_apps }}"
  tags:
    - dock

- name: Add Dock icons in persistent-others section
  ansible.builtin.command:
    cmd: |
      dockutil --add {{ item.path }} --label {{ item.name }} --no-restart --section others
      --sort {{ item.sort | default("datemodified") }} --display {{ item.display | default("folder")}}
  with_items: "{{ macos_dock_persistent_others }}"
  tags:
    - dock

- name: Pause for 7 seconds for Dock changes to take effect
  ansible.builtin.pause:
    seconds: 7
  tags:
    - dock

- name: Restart Dock
  ansible.builtin.command:
    cmd: "/bin/launchctl kickstart -k gui/{{ ansible_facts['user_uid'] }}/com.apple.Dock.agent"
  tags:
    - dock
